.light {
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	box-sizing: border-box;
	border: 2px solid #18a0fb;
	background: #ffffff;
	border-radius: 100%;
	box-shadow: 0px 0px 44px 26px #ffffff;
}
