.panel {
	position: absolute;
	z-index: 99999;
	top: 0;
	right: 0rem;
	width: auto;
	height: auto;
	background: #fff;
	border-radius: var(--border-radius-2);
	box-shadow: var(--box-shadow-modal);
	opacity: 0;
	pointer-events: none;
	touch-action: none;
	visibility: hidden;
}

.panel.open {
	opacity: 1;
	pointer-events: all;
	visibility: visible;
}

.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4px 4px 4px var(--space-small);
	border-bottom: 1px solid var(--color-black-6-translucent);
}

.row {
	display: flex;
	align-items: center;
}

.label {
	margin-right: 16px;
}
