.panel {
	position: absolute;
	z-index: 100;
	top: 0rem;
	left: 0rem;
	width: auto;
	max-width: 200px;
	height: auto;
	background: #fff;
	border-radius: var(--border-radius-2);
	box-shadow: var(--box-shadow-modal);
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.panel.open {
	opacity: 1;
	pointer-events: all;
	visibility: visible;
}
.top {
	display: flex;
	height: 32px;
	align-items: center;
	justify-content: space-between;
	padding: 0 var(--space-small);
	border-bottom: 1px solid var(--color-black-6-translucent);
}
